.page{
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}
.content {
    //border-left: 1px solid var(--base-border-color);
    //border-right: 1px solid var(--base-border-color);
    background: var(--content-background-color);
    flex: 1 1 auto;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    padding: 12px 16px;
}
