html{
    height: 100vh;
    height :var(--dev-page-height); 
}
body{
    background: #dfdfdf;
    height: 100vh;
    height :var(--dev-page-height); 
}

* {
    user-select: none;
}
a{
    text-decoration: none;
}
label,textarea,code{
    user-select: text;
}

.tb-no-border{
    border: none !important;
}

.wrapper,.wrapper-fluid{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: var(--wrapper-background-color);
    height :var(--dev-page-height); 
}
.wrapper{
    margin:0 auto;
    max-width: var(--base-site-max-width);
    -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
}
.tb-left{
    float: left!important;
}
.tb-right{
    float: right!important;
}