.tb-navbar{
    @extend .navbar;
}
.tb-navbar {
    height:100vh;
    min-width: var(--nav-width);
    flex-direction: row;
    align-content: flex-start;
    flex:0;
    background-color: var(--nav-background-color);
    overflow-y: auto;
    z-index: 1002;
    font-size: var(--nav-font-size);
    .tb-navbar-brand{
        padding: 12px;
        margin: 0 auto;
    }
    ul {
        padding: 0px 12px 0px 24px;
        width:100%;
        li {
            list-style: none;
            padding: var(--nav-item-padding);
            i{
                padding-right: 6px;
            }
            a{
                color: var(--nav-item-color);
                &:hover {
                    color: var(--nav-item-color-hover);
                }
            }
        }
        li.tb-nav-title{
            padding-top:6px;
            padding-left:0px;
            font-weight: bold;
            cursor: none;
        }
    }
    &.show{
        display: flex;
    }
    &.hide{
        display: none;
    }
}


@media (max-width: 1023px) {
    .tb-navbar{
        display: none;
        position: absolute;
        margin-top:39px;
        height: calc(var(--dev-page-height) - 39px);
        width: var(--nav-mobile-width);
    }
}