.tb-navbar {
    @extend .navbar;
}
.tb-navbar {
    height: 100vh;
    display: flex;
    min-width: var(--nav-width);
    /*flex-direction: row;
    align-content: flex-start;*/
    flex: 0;
    padding: 0;
    background-color: var(--nav-background-color);
    z-index: 1002;
    font-size: var(--nav-font-size);
    overflow: hidden;
    flex-flow: column;
    .tb-navbar-content {
        width: var(--nav-width);
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        flex: 1 1 auto;
        .tb-navbar-brand {
            padding: 12px;
            margin: 0 auto;
        }
        ul {
            padding: 2px 12px 2px 12px;
            width: 100%;
            /*flex: 1 1 auto;*/
            li {
                list-style: none;
                padding: var(--nav-item-padding);
                margin: 2px 0px;
                transition: background-color 0.1s ease;
                border-radius: calc(var(--base-border-radius) * 2);
                &:hover {
                    transition: 0s;
                    background-color: #475671;
                    border-radius: calc(var(--base-border-radius) * 2);
                }
                &:first-child {
                    margin-top: 0px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                a {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    color: var(--nav-item-color);
                    &:hover {
                        color: var(--nav-item-color-hover);
                    }
                    i {
                        width: 15px;
                        margin-right: 12px;
                        margin-top: 3px;
                    }
                }
            }
            .tb-nav-title {
                padding-top: 6px;
                padding-left: 0px;
                font-weight: normal;
                letter-spacing: 1px;
                &:hover {
                    background-color: inherit;
                }
                a {
                    cursor: default;
                }
                span {
                    color: rgb(211, 211, 211) !important;
                }
            }
        }
    }
    footer {
        padding: 5px;
        width: 100%;
        background-color: #3f465f;
        border-top: none;
        .form-check-input {
            float: left;
        }
        .tb-footer-item{
            min-height: auto;
            margin-bottom: 0px;
        }
    }
    &.show {
        display: flex;
    }
    &.hide {
        display: none;
    }
}

.tb-nav-title-collapse {
    .tb-nav-title-collapse {
        font-size: var(--nav-font-size);
        padding: 3px 0px 3px 8px !important;
        ul {
            padding-right: 0px;
        }
    }
    @extend .tb-nav-title;
    > a {
        cursor: pointer !important;
        &::before {
            content: "";
            transform: rotate(-90deg);
            width: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' fill='%23d3d3d3' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
            transition: transform 0.35s ease;
            background-position: center;
            color: #d3d3d3;
            margin-right: 3px;
        }
        &[aria-expanded="true"]::before {
            transform: rotate(0deg);
        }
    }
    ul li a {
        letter-spacing: normal;
        cursor: pointer !important;
    }
    .collapse,
    .collapsing {
        margin-left: 0px;
        > ul {
            padding: 2px 8px;
        }
    }
}

@media (max-width: 991px) {
    .tb-navbar {
        display: none;
        position: absolute;
        margin-top: 39px;
        height: calc(var(--dev-page-height) - 39px);
        width: var(--nav-mobile-width);
        .tb-navbar-brand{
            display: none;
        }
    }
}
