.tb-btn-group {
    @extend .btn-group;
}
.tb-form-control-plaintext {
    @extend .form-control-plaintext;
}

.tb-btn {
    @extend .btn;
    *:focus {
        box-shadow: none;
    }
    i{
        margin-right:6px
    }
    //border-color: var(--base-border-color);
    border-radius: var(--base-border-radius);
}
