.tb-input-group {
	@extend .input-group;
}
.tb-input-group-append {
	.tb-btn {
		border-radius: 0px;
		border: 1px solid var(--base-border-color);
		border-right: 0px;
		&:last-child {
			border-right: 1px solid var(--base-border-color) !important;
			border-top-right-radius: var(--button-border-radius);
			border-bottom-right-radius: var(--button-border-radius);
		}
	}
}

.tb-form-label {
	@extend .form-label;
	margin-bottom: 0.1rem;
	color: #777;
	font-size: 13px;
}

.tb-form-control{
	@extend .form-control;
	border-radius: var(--button-border-radius);
	border-color: var(--base-border-color);
	font-size: 15px;
}

.tb-form-select{
	@extend .form-select;
	border-radius: var(--button-border-radius);
	border-color: var(--base-border-color);
	font-size: 15px;
}
.tb-form-group{
	
}

.tb-form-control:focus,
.form-check-input:focus,
.tb-form-select:focus,
button:focus,
.tb-btn:focus {
	box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%);
}

.navbar-toggler.button:focus,
.btn-close:focus {
	box-shadow: none;
}

label + .form-control-plaintext,
.form-control-plaintext {
	border-bottom: 1px solid var(--base-border-color);
	padding: 0px;
}

.nav-link {
	border-radius: 0px;
}

.btn-outline {
	border: 1px solid var(--base-border-color);
	border-radius: 0px;

	&:hover {
		border: 1px solid var(--base-border-color) !important;
		background-color: #ebebeb !important;
	}

	&:focus {
		box-shadow: none;
	}
}

$columns: 12;

@for $i from 1 through $columns {
	.col-#{$i} {
		margin-top: 0px;
		margin-bottom: 6px;
	}
}

@for $i from 1 through $columns {
	.col-md-#{$i} {
		margin-top: 0px;
		margin-bottom: 6px;
	}
}

.tb-plaintext{
	padding-left: 6px;
    /*border-left: 3px solid #da8f04*/
}