.tbs-ribbon {
	/*font-family: "Nunito", sans-serif;*/
	font-size: 10px;
	border-bottom: 1px solid var(--base-border-color);
	background: #fafafa;
	color: var(--ribbon-link-color);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex: 0 1 auto;
	&:empty {
		display: none;
	}
	.tab-content {
		height: 100px;
		font-size: 12px;
		overflow: hidden;
		overflow-x: auto;
		.tb-ribbon-group {
			float: left;
			display: inline-block;
			height: 100px;
			border-right: 1px solid var(--base-border-color);
			&:first-child {
			}
			&:last-child {
			}
		}
		> .tab-pane {
			width: max-content;
		}
		a {
			padding: 0px 10px;
			color: var(--ribbon-link-color);
		}
		a.disabled {
			&:hover {
				background-color: inherit;
				cursor: default;
			}
		}
	}
	a {
		color: var(--ribbon-link-color);
		display: block;
		img {
			padding: 8px;
		}
		> div {
			margin-top: 33px;
		}
		> i {
			+ {
				div {
					margin-top: 3px;
					max-width: 100px;
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 1em;
					height: 2em;
					width: min-content;
				}
			}
		}
	}
	.nav-tabs {
		font-size: 14px;

		.nav-link {
			color: #757575 !important;
			font-size: 14px;
			background-color: transparent;
			padding: 7px 30px;
			color: #757575;
			border:none; 
			transition: background-color 0.5s;
			border-bottom: 3px solid var(--base-border-color);
			&:hover {
				transition: border-bottom 0.5s;
				background-color: #dedede !important;
				color:#2c2c2c!important;
				border-bottom: 3px solid rgb(138, 138, 138);
			}
		}
		.nav-link.active {
			border: none;
			border-bottom: 3px solid rgb(138, 138, 138);
			background-color: rgb(231, 231, 231);
			color: #484848;
		}
	}
	i {
		font-size: 32px;
		line-height: 48px !important;
	}

	.col-md-auto {
		border-right: 1px solid #dedede;
		height: 100px;
	}
	.large-element {
		img {
			max-height: 60px;
			max-width: 60px;
		}
	}
	.section-label {
		display: block;
		font-size: 11px;
		height: 15px;
	}
	.one-element {
		display: inline-block;
		margin: 5px 5px 0px 5px;
		overflow: hidden;
		height: 78px;
		transition: background-color 0.3s ease;
		&:hover {
			text-decoration: none;
			background-color: #dedede;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			transition: border-bottom 0.5s;
			border-radius: calc(var(--base-border-radius) * 2);
			color: black;
		}
	}
	.elements {
		display: block;
		max-height: 83px;
		height: 83px;
	}
	.list-element {
		ul {
			padding: 0px;
			list-style: none;
			margin-bottom: 0px;
			li {
				line-height: 0px;
				margin-bottom: 3px;
				span {
					vertical-align: middle;
				}
			}
		}
		a {
			img {
				max-height: 25px;
				max-width: 25px;
			}
		}
		img {
			padding: 2px;
		}
	}
	.icon-element {
		a {
			img {
				max-height: 25px;
				max-width: 25px;
			}
		}
		img {
			padding: 2px;
		}
	}
	.test {
		display: grid;
		grid-template-rows: repeat(3, 25px);
		grid-auto-flow: column;
		grid-row-gap: 3px;
		grid-column-gap: 3px;
	}
	a.checked {
		text-decoration: none;
		background-color: #dedede;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		color: #000;
	}
	.fluid-container {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.tb-ribbon-mini {
	.nav-tabs{
		a.nav-link{
		padding: 3px 30px;
		}
	}
	.tab-content {
		.container {
			display: flex;
			.tb-ribbon-group {
				display: flex;
				flex-direction: column;
				.elements {
					flex: 1 1 auto;
					display: flex;
					/* vertical-align: middle; */
					align-content: center;
					flex-wrap: wrap;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					.one-element {
						margin: 3px 3px -1px 3px;
						div {
							margin-bottom: 3px;
							font-size: 11px;
							max-height: 24px;
						}
						a {
							//font-size: 14px;
							padding: 0 5px;
						}
					}
				}
				.section-label {
					flex: 0 1 15px;
					height: auto;
				}
			}
		}
		
	}

	.tab-content,
	.tb-ribbon-group,
	.elements,
	.one-element {
		height: inherit !important;
	}
	i {
		font-size: 12px;
		line-height: 1 !important;
	}
}
.tb-no-icon {
	i {
		display: none;
	}
}

.content + .tbs-ribbon{
	border-bottom: none;
	border-top:1px solid var(--base-border-color);
}