.tb-table-container {
    overflow-x: auto;
    flex: 1 0 auto;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0px;
    }
    .tb-table {
        margin-bottom: 0px;
    }
    .tb-table-searchbar {
        position: sticky;
        top: 0px;
        left: 0px;
        .tb-input-group {
            input:focus {
                outline: none;
                box-shadow: none;
                border-color: var(--base-border-color);
            }
            button {
                background-color: #f8f8f8;
                &:hover {
                    background-color: #e0e0e0;
                    border-color: var(--base-border-color);
                }
            }

            * {
                border-bottom: 0px;
            }
        }
    }
}
.tb-fill {
    max-height: fit-content;
    overflow: auto;
    flex: 1 1 auto;
    border-top: 1px solid var(--base-border-color) !important;
    border-bottom: 1px solid var(--base-border-color) !important;
    .tb-table {
        border-collapse: separate;
        border-spacing: 0px;
        table-layout: fixed;
        border-left: 1px solid var(--base-border-color) !important;

        thead {
            position: sticky;
            top: 0px;
        }
        tr {
            border: none;
            border-left: 1px solid var(--base-border-color) !important;
            border-right: 1px solid var(--base-border-color) !important;
        }
        td,
        th {
            border: none;
            border-right: 1px solid var(--base-border-color) !important;
            border-bottom: 1px solid var(--base-border-color) !important;
        }
        tr:last-child {
            td {
                border-bottom: none !important;
            }
        }
    }
    .tb-table-searchbar {
        + .tb-table {
            thead {
                top: 37px;
            }
        }
        .tb-input-group {
            * {
                border-top: 0px;
                border-bottom: 1px solid var(--base-border-color);
            }
            .tb-input-group-append {
                border-bottom: none;
            }
        }
    }
}

.tb-fill + .tb-fill,
.tb-fill + .tb-table-container {
}
.tb-table {
    vertical-align: middle;
    table-layout: fixed;
    @extend .table;
    font-size: 13px;
    background-color: #fff;
    thead {
        background-color: #f7f7f7;
    }
    .tbs-table-group {
        font-weight: bold;
    }
    th,
    .tbs-table-group {
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    tbody {
        tr {
            &:not(.tb-table-edit):hover {
                background-color: rgb(209 209 209 / 15%) !important;
                td {
                    background-color: rgb(209 209 209 / 15%) !important;
                    background-blend-mode: multiply;
                }
            }
            &.tb-table-empty {
                text-align: center;
                color: #7e7e7e;
                font-size: 14px;
                &:hover {
                    background-color: #fff !important;
                    td {
                        background-color: #fff !important;
                    }
                }
            }
        }
        .tb-table-edit {
            -webkit-box-shadow: inset 0px 0px 8px 0px rgb(217 217 217);
            -moz-box-shadow: inset 0px 0px 8px 0px rgb(217 217 217);
            box-shadow: inset 0px 0px 8px 0px rgb(217 217 217);
            select {
                padding: 0px 36px 0px 12px;
                font-size: 14px;
            }
            input,
            select {
                border: none;
                border-bottom: 2px solid #dedede;
            }
            input:focus,
            input:hover,
            select:focus,
            select:hover {
                border-bottom: 2px solid #307227;
                outline: none;
                box-shadow: none;
            }
            .tb-btn {
                padding: 0px 6px;
                border: none;
                i {
                    margin: 0px;
                }
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    background-color: #307227;
                    color: #fff;
                }
            }
        }
    }
    td,
    th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .tbs-cell-icon {
        text-align: center;
    }
}
.tb-table-multirow {
    tbody {
        &:nth-child(2n) {
            tr,
            td {
                background-color: rgba(226, 226, 226, 0.15) !important;
            }
        }
        &:hover {
            tr,
            td {
                background-color: rgb(209 209 209 / 15%) !important;
            }
        }
        &::before{
            display: table-row-group;
            height:24px;
            content: "";
        }
    }
}

.tb-table-bordered {
    @extend .table-bordered;
}
.tb-card-body {
    > .tb-table-container {
        margin: -12px;
        border: none;
        > .tb-table {
            margin-bottom: 0px;
        }
    }
}

.tb-table-active {
    background-color: #e6f2fa;
}

/* Editable */
.tb-inline-edit {
    border: none;
    padding: 0px 2px;
    font-size: 14px;
}
