$nav-tabs-border-radius: 0px;
$nav-tabs-border-color: var(--base-border-color);
$card-border-radius: 6px;
$card-cap-bg: white;

$primary: #3b71ca;
$secondary: #9fa6b2;
$success: #14a44d;
$info: #54b4d3;
$warning: #e4a11b;
$danger: #dc4c64;
$light: #fbfbfb;
$black: #332d2d;
